.game {
    margin: 0 auto;
    position: relative;
    background-position: 50% 50%;
}

div {
    display: block;
}

.crack{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}